* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #41b1ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.5);
} 
/*header color*/
body{
background-image: url('bgmiwa.png');
width: 100%;
height: 150vh;
background-size: cover;
background-position: bottom;
font-family: 'Nunito', sans-serif;
}
/*body color*/
.logo ul{

        list-style-type: none;
        list-style: none;
        width: 100%;
        align-self: center;
        margin: 0;
        padding: 0;
}
.logo a{
    text-decoration: none;
}
.menu{
    align-content: center;
}
.menu ul, .dropdownmenu li{
        margin: 0;
        padding: 0;
}
.menu ul{
        background: rgb(9, 199, 224);
        list-style: none;
        width: 100%;
        align-self: center;
        
}
.menu ul li:hover a{
   
}
.menu li{
    float: left;
    position:relative;
    width: auto;
    align-items: center;
}
.menu a{
    background: #41b1ee;
    color: white;
    display: block;
    font-weight: 200;
    font-size: 20px;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}/*Gallery, About, Contact Us*/
.menu li:hover a{
    background: #0082aa;
}/*pag hinover nagbabago kulay*/
#subabout{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}/*para sa submenu ng about*/
li:hover ul#subabout{
    opacity: 1;
    top: 60px;
    visibility: visible;
}/*pag hinover yung about settings non*/

#subabout li{
    float: none;
    width: 100%;
}/*settings mismo ng sub menu*/
#subabout a:hover{
    background: black;
}/*pag hinover yung sub menu*/
#subabout a{
    background: #41b1ee;
}
/* content */
.miwahome{
    position: relative;
    width: 45%;
    height: auto;
    object-fit: cover;
    margin-top: 30px;
}
img[src="miwa3.JPG"] {
    border-radius: 10px;
}
.words {
    width: 45%;
    height: auto;
}
.words h1 {
    text-align: center;
    font-size: 65px;
    text-shadow: 3px 3px 5px rgb(139, 139, 139);
}
.words p {
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(139, 139, 139);
}
.homeparent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* [CHANGES]
>removed internal css
>added a parent div for classes: miwahome, words for flexbox
>removed automatic margin and padding from body * { padding:0; margin:0; }
>changes background repeat and size from body
>added css after the comment, "content" */